<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>All Users</title>
</head>

<body onload="createTable()">

<nav class="navbar navbar-expand-md navbar-dark bg-dark d-flex justify-content-between">
    <span>
    <span class="navbar-brand font-weight-bold" th:text="${user.getEmail()}">VALUE</span>
    <span class="navbar-brand font-weight-regular"> with roles: ADMIN USER</span>
        <!--    <span class="navbar-brand font-weight-regular" th:text="${userRoles.getRole()}">VALUE</span>-->
    </span>
    <ul class="navbar-nav">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
    </ul>
</nav>

<div class="d-flex flex-row ">
    <div class="nav flex-column nav-pills w-25 mt-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" href="">Admin</a>
        <a class="nav-link" th:href="@{/admin/users/{id}(id=${user.getId()})}">User</a>
    </div>

    <div class="bg-light w-100 pr-4">
        <h1 class="m-3">
            Admin panel
        </h1>
        <ul class="nav nav-tabs ml-3">
            <li class="nav-item">
                <a class="nav-link active" href="#!">Users table</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/users/new">New user</a>
            </li>
        </ul>

        <div>
        <div class="border ml-3">
            <h4 class="d-flex ml-4 ">All users</h4>
        </div>

        <div class="bg-white ml-3 pr-4">
            <table class="table table-striped bg-white ml-3 ">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Edit</th>
                    <th>Delete</th>

                </tr>
                </thead>
                <tbody id="user_list">
<!--                <th:block th:each="user : ${users}">-->
<!--                    <tr>-->
<!--                        <td th:text="${user.getId()}"></td>-->
<!--                        <td th:text="${user.getUsername()}"></td>-->
<!--                        <td th:text="${user.getLastname()}"></td>-->
<!--                        <td th:text="${user.getAge()}"></td>-->
<!--                        <td th:text="${user.getEmail()}"></td>-->
<!--                        <td>-->
<!--                            <div th:each="role : ${user.getRoles()}">-->
<!--                        <span class="text-uppercase"-->
<!--                              th:text="${role.toString()}"></span>-->
<!--                            </div>-->
<!--                        </td>-->
<!--                        <td><button type="button" class="btn btn-info edit-btn" data-toggle="modal"-->
<!--                                    th:data-target="${'#editUser'+ user.getId()}">-->
<!--                            Edit-->
<!--                        </button></td>-->
<!--                        <td>-->
<!--                            <div class="btn-group">-->
<!--                                <form th:method="get" th:action="@{'/admin/users/delete/__${user.id}__'}">-->
<!--                                    <input type="submit" class="btn btn-danger" value="Delete"/>-->
<!--                                </form>-->
<!--                            </div>-->
<!--                        </td>-->
<!--                    </tr>-->


                    <div class="modal fade" tabindex="-1" role="form" aria-labelledby="editModalLabel" aria-hidden="true"
                         id="modal-edit">

                        <div class="modal-dialog modal-dialog-centered" role="form">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Edit user</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form id="edit-user-form-2">
<!--                                      th:method="POST"-->
<!--                                      th:action="@{/admin/users/{id}(id=${user.getId()})}"-->
<!--                                      th:id="${'userEditForm' + user.getId()}" th:object="${user}"-->

                                    <div class="modal-body form-group text-center font-weight-bold" id="edit-user-form">
                                        <input type="hidden">
                                        <div class="form-group" >
                                            <label class="font-weight-bold"
                                                   for="showId">Id</label>
                                            <input type="text"
                                                   name="id"
                                                   id="showId"
                                                   class="form-control"

                                                   readonly>
                                        </div>
                                        <label for="username">Firstname </label>
                                        <input type="text" class="form-control" id="username" name="username" ><br>

                                        <label for="lastname">Lastname </label>
                                        <input type="text" class="form-control" id="lastname" name="lastname" ><br>

                                        <label for="age">Age </label>
                                        <input type="text" class="form-control" id="age" name="age" ><br>

                                        <label for="email">Email </label>
                                        <input type="text" class="form-control" id="email" name="email" ><br>

                                        <label for="password">Password </label>
                                        <input type="text" class="form-control" id="password" name="password" ><br>

                                        <label class="form-check-label h5 font-weight-bold" for="roleList">Roles</label>

                                        <select class="form-control mb-3"  size="2" id="roleList">
                                            <option >ROLE_USER</option>
                                            <option >ROLE_ADMIN</option>
                                        </select>
                                    </div>
                                    <div class="modal-footer form-group">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">Close</span>
                                        </button>
                                        <button type="button" id="modal-edit-btn-save"
                                                class="btn btn-primary">Edit user
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

<!--                </th:block>-->
                </tbody>
            </table>
        </div>
        </div>

    </div>
</div>

<!-- Modal Edit -->


<!--<body>-->
<!--<h1>Users</h1>-->
<!--<div th:each="user : ${users}">-->
<!--    <a th:href="@{/admin/users/{id}(id=${user.getId()})}" th:text="${user}">user.toString()</a>-->
<!--</div>-->

<!--<br/>-->
<!--<hr/>-->

<!--<a href="/admin/users/new">Create new user</a>-->

<!--<br/>-->
<!--<hr/>-->

<!--<form th:action="@{/logout}" method="post">-->
<!--    <button type="submit">Exit</button>-->
<!--</form>-->

<!--</body>-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="../../js/main.js"></script>
<script th:src="@{/js/jsonify.js}"></script>

<!--<script src="../../js/main.js"></script>-->

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>